<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      * {
        font-family: 'Times New Roman', monospace;
      }
      html {
        font-size: 15px;
      }
      @page {
        margin-top: 5mm;
        margin-bottom: 7mm;
        margin-left: 20mm;
        margin-right: 10mm;
      }
      p {
        page-break-inside: avoid;
      }
      .print-footer {
        position: fixed;
        bottom: 0;
        font-size: 10px;
      }
    </style>
  </head>
  <body>
    <div class="print-footer">
      BM.TTXN.04/6
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Phiên bản: 1.0
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Ngày áp dụng: 18/09/2019
    </div>
    <div class="flex flex-row justify-between">
      <div class="flex flex-col">
        <div class="flex flex-row">
          <img
            src=<%= `http://${process.env.MINIO_ENDPOINT}:${process.env.MINIO_PORT}/${process.env.MINIO_PUBLIC_BUCKET}/logo.png` %>
            style="width: 90px; object-fit: contain"
          />
          <div class="text-center ml-1 text-base">
            <p>SỞ Y TẾ TP.HỒ CHÍ MINH</p>
            <p class="font-bold">TRUNG TÂM KIỂM SOÁT BỆNH TẬT TP.HCM</p>
            <p><%= meta.branch.address %></p>
            <p>Website: www.hcdc.gov.vn</p>
          </div>
        </div>
        <div class="mt-1">
          <p class="text-base">
            Họ và tên: <span class="font-bold"><%= data.sample.patient.name %></span>
          </p>
          <p class="text-base">Địa chỉ: <span><%= data.sample.patient.address %></span></p>

          <p class="text-base">BS chỉ định: <span><%= data.sample.doctor.name %></span></p>
          <p class="text-base">Chẩn đoán: <span><%= data.sample.diagnosis.name %></span></p>
        </div>
      </div>
      <div class="flex flex-col justify-between" style="max-width: 250px">
        <div>
          <p class="text-base">
            ID XN: <span class="font-bold"> <%= data.sample.sampleId %> </span>
          </p>
          <p class="text-base">
            TG nhận bệnh:
            <span
              ><%= data.sample.infoAt.toLocaleDateString('vi') %>, <%=
              data.sample.infoAt.toLocaleTimeString('vi').slice(0, -3) %></span
            >
          </p>
          <p class="text-base">
            TG lấy mẫu:
            <span
              ><%= new
              Date(data.categories[0].tests[0].elements[0]?.value).toLocaleDateString('vi')
              %>, <%= new
              Date(data.categories[0].tests[0].elements[0]?.value).toLocaleTimeString('vi').slice(0,-3)
              %>
            </span>
          </p>
        </div>
        <div>
          <div class="flex flex-row">
            <p class="text-base">
              Năm sinh: <span class="font-bold"><%= data.sample.patient.birthYear %></span>
            </p>
            <p class="text-base ml-2">
              Giới tính:
              <span class="font-bold"
                ><%= data.sample.patient.gender === "Male" ? "Nam" : "Nữ" %></span
              >
            </p>
          </div>
          <p class="text-base">Đối tượng: <span><%= data.sample.patientType.name %></span></p>
          <p class="text-base">
            Loại mẫu:
            <span> TD </span>
          </p>
          <p class="text-base">
            Ngày XN:
            <span
              ><%= new
              Date(data.categories[0].tests[0].elements[0]?.value).toLocaleDateString('vi')
              %></span
            >
          </p>
        </div>
      </div>
    </div>
    <h1 class="text-xl font-bold text-center my-4">PHIẾU KẾT QUẢ XÉT NGHIỆM</h1>
    <table class="w-full">
      <thead class="bg-gray-100 text-sm">
        <tr>
          <th scope="col" class="py-1 px-6 border border-gray-300">
            Tên Xét nghiệm
          </th>
          <th scope="col" class="py-1 px-6 border border-gray-300" width="15%">
            Kết quả
          </th>
          <th scope="col" class="py-1 px-6 border border-gray-300" width="13%">
            Đơn vị
          </th>
          <th scope="col" class="py-1 px-6 border border-gray-300" width="22%">
            Chuẩn tham khảo <span class="whitespace-nowrap"> (WHO 2010) </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border border-gray-300">
          <td class="py-1 pl-2 font-bold"><%= data.categories[0].tests[0].name %></td>
        </tr>
        <% data.categories[0].tests[0].elements.slice(1, -1).forEach(element => { %>
        <tr class="border border-gray-300">
          <td class="py-1 pl-6 border border-gray-300">
            - <%= element.testElement.name %>
          </td>
          <td
            class="py-1 text-center border border-gray-300 <%= element.isAbnormal ? 'font-bold' : '' %>"
          >
            <%= element.value %>
          </td>
          <td class="py-1 text-center pl-2 border border-gray-300">
            <%= element.testElement.unit %>
          </td>
          <td class="py-1 text-center pl-2 border border-gray-300">
            <%= element.testElement.description %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <p class="text-base mt-1 ml-8">
      <span><%= data.categories[0].tests[0].elements.slice(-1)[0].testElement.name %>:</span>
      <span><%= data.categories[0].tests[0].elements.slice(-1)[0].value ?? '' %></span>
    </p>
    <div
      class="flex flex-row justify-end mt-2"
      style="page-break-inside: avoid"
    >
      <div class="flex flex-col text-center mr-8">
        <p>
          Ngày <%= new Date().getDate() %> tháng <%= new Date().getMonth() + 1
          %> năm <%= new Date().getFullYear() %>
        </p>
        <p class="font-bold"><%= meta.authorPosition %></p>
        <p style="margin-top: 20mm" class="font-bold"><%= meta.authorName %></p>
      </div>
    </div>
  </body>
</html>
