<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          // extend: {
          //   fontSize: {
          //     sm: '0.8rem',
          //     base: '1rem',
          //     xl: '1.25rem',
          //     '2xl': '1.563rem',
          //     '3xl': '1.953rem',
          //     '4xl': '2.441rem',
          //     '5xl': '3.052rem',
          //   },
          // },
        },
      }
    </script>
    <style>
      * {
        font-family: 'Times New Roman', monospace;
      }
      html {
        font-size: 15px;
      }
      @page {
        margin-top: 5mm;
        margin-bottom: 5mm;
        margin-left: 15mm;
        margin-right: 15mm;
      }
      p {
        page-break-inside: avoid;
      }
      .print-footer {
        position: fixed;
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <div class="flex flex-row justify-between">
      <div class="flex flex-col">
        <div class="flex flex-row">
          <img
            src="http://localhost:9000/public/logo.png"
            style="width: 80px; object-fit: contain"
          />
          <div class="text-center ml-1 text-base">
            <p>SỞ Y TẾ TP.HỒ CHÍ MINH</p>
            <p class="font-bold">TRUNG TÂM KIỂM SOÁT BỆNH TẬT TP.HCM</p>
            <p>Số 957 Đường 3 Tháng 2, P.7, Q.11, Tp.HCM</p>
            <p>Website:www.hcdc.gov.vn ; www.hcdc.vn</p>
          </div>
        </div>
        <div class="mt-1">
          <p class="text-base">
            Họ và tên: <span class="font-bold"><%= patient.name %></span>
          </p>
          <p class="text-base">Địa chỉ: <span><%= patient.address %></span></p>

          <p class="text-base">BS chỉ định: <span><%= doctor %></span></p>
          <p class="text-base">Chẩn đoán: <span><%= indication %></span></p>
        </div>
      </div>
      <div class="flex flex-col justify-between" style="max-width: 250px">
        <div>
          <p class="text-base">
            ID XN: <span class="font-bold"> <%= sample.sampleId %> </span>
          </p>
          <p class="text-base">
            Ngày nhận bệnh:
            <span
              ><%= sample.infoAt.toLocaleDateString('vi') %>, <%=
              sample.infoAt.toLocaleTimeString('vi').slice(0, -3) %></span
            >
          </p>
        </div>
        <div>
          <div class="flex flex-row">
            <p class="text-base">
              Năm sinh: <span class="font-bold"><%= patient.birthYear %></span>
            </p>
            <p class="text-base ml-2">
              Giới tính:
              <span class="font-bold"
                ><%= patient.gender === 'male' ? "Nam" : "Nữ" %></span
              >
            </p>
          </div>
          <p class="text-base">Đối tượng: <span><%= patientType %></span></p>
          <p class="text-base">
            Loại mẫu:
            <span> TD </span>
          </p>
          <p class="text-base">
            Ngày lấy mẫu:
            <span><%= sample.sampledAt.toLocaleDateString('vi') %></span>
          </p>
        </div>
      </div>
    </div>
    <h1 class="text-xl font-bold text-center my-2">PHIẾU KẾT QUẢ XÉT NGHIỆM</h1>
    <table class="w-full">
      <thead class="bg-gray-100 text-sm">
        <tr>
          <th scope="col" class="py-1 px-6 border border-gray-300">
            Xét nghiệm
          </th>
          <th scope="col" class="py-1 px-6 border border-gray-300" width="15%">
            Kết quả
          </th>
          <th scope="col" class="py-1 px-6 border border-gray-300" width="13%">
            Đơn vị
          </th>
          <th scope="col" class="py-1 px-6 border border-gray-300" width="22%">
            Chuẩn tham khảo(WHO 2010)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border border-gray-300">
          <td class="pl-2 font-bold"><%= results[0].tests[0].name %></td>
        </tr>
        <% results[0].tests[0].elements.forEach(element => { %>
        <tr class="border border-gray-300">
          <td class="pl-6 border border-gray-300">- <%= element.name %></td>
          <td
            class="text-center border border-gray-300 <%= element.isHighlighted ? 'font-bold' : '' %>"
          >
            <%= element.value %>
          </td>
          <td class="text-left pl-2 border border-gray-300">
            <%= element.unit %>
          </td>
          <td class="text-left pl-2 border border-gray-300">
            <%= element.description %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div class="flex flex-row justify-end mt-2">
      <div class="flex flex-col text-center mr-8">
        <p>
          Ngày <%= new Date().getDate() %> tháng <%= new Date().getMonth() %>
          năm <%= new Date().getFullYear() %>
        </p>
        <p class="font-bold"><%= authorPosition %></p>
        <p style="margin-top: 13mm"><%= authorName %></p>
      </div>
    </div>
  </body>
</html>
