<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      * {
        font-family: 'Times New Roman', monospace;
      }
      html {
        font-size: 15px;
      }
      @page {
        margin-top: 5mm;
        margin-bottom: 5mm;
        margin-left: 18mm;
        margin-right: 10mm;
      }
      p {
        page-break-inside: avoid;
      }
      .print-footer {
        position: fixed;
        bottom: 0;
        font-size: 10px;
      }
    </style>
  </head>
  <body>
    <div class="print-footer">
      BM.TTXN.04/3
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Phiên bản: 1.0
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Ngày áp dụng: 18/09/2019
    </div>
    <div class="flex flex-row justify-between">
      <div class="flex flex-row">
        <img
          src=<%= `http://${process.env.MINIO_ENDPOINT}:${process.env.MINIO_PORT}/${process.env.MINIO_PUBLIC_BUCKET}/logo.png` %>
          style="width: 90px; object-fit: contain"
        />
        <div class="text-center ml-1">
          <p>SỞ Y TẾ TP.HỒ CHÍ MINH</p>
          <p class="font-bold">TRUNG TÂM KIỂM SOÁT BỆNH TẬT TP.HCM</p>
          <p><%= meta.branch.address %></p>
          <p>Website: www.hcdc.gov.vn</p>
        </div>
      </div>
      <div class="text-center">
        <p class="text-xl font-bold my-1">KẾT QUẢ XÉT NGHIỆM HIV</p>
        <div class="ml-10 text-left">
          <p class="text-base">
            Ngày lấy mẫu:
            <span><%= data.sample.sampledAt.toLocaleDateString('vi') %></span>
          </p>
          <p>Nơi chỉ định: Phòng khám</p>
          <p>Nơi lấy mẫu: Phòng xét nghiệm</p>
        </div>
      </div>
    </div>
    <div class="m-4">
      <div class="flex flex-row justify-between">
        <div class="flex flex-col">
          <p class="text-lg">
            Họ và tên:
            <span class="font-bold"
              ><%= data.sample.patient.name.toLocaleUpperCase() %></span
            >
          </p>
          <p class="text-lg">
            ID XN: <span class="font-bold"><%= data.sample.sampleId %></span>
          </p>
        </div>
        <div class="flex flex-col">
          <p class="text-lg">Năm sinh: <span><%= data.sample.patient.birthYear %></span></p>
          <p class="text-lg">Loại bệnh phẩm: Máu</p>
        </div>
        <div class="flex flex-col">
          <p class="text-lg">
            Giới tính:
            <span><%= data.sample.patient.gender === "Male" ? "Nam" : "Nữ" %></span>
          </p>
          <p class="text-lg">
            CCCD (nếu có):
            <span><%= data.sample.patient.SSN %></span>
          </p>
        </div>
      </div>
      <p class="text-lg">Địa chỉ: <span><%= data.sample.patient.address %></span></p>
      <div class="flex flex-row">
        <div>
          <p class="text-lg">Yêu cầu xét nghiệm:</p>
          <p class="text-lg">Tên sinh phẩm xét nghiệm:</p>
          <p class="text-lg">Kết luận: Kháng thể kháng HIV</p>
          <p class="text-lg">Ngày xét nghiệm:</p>
        </div>
        <div class="ml-4">
          <p class="font-bold text-lg">Kháng thể kháng HIV</p>
          <p class="text-lg"><%= data.categories[0].tests[0].bioProductName %></p>
          <p class="font-bold text-lg">
            <%= data.categories[0].tests[0].elements[0]?.value %>
          </p>
          <p class="text-lg"><%= data.sample.infoAt.toLocaleDateString('vi') %></p>
        </div>
      </div>
      <p class="text-lg">Đề nghị: Tham vấn</p>
    </div>
    <div class="flex flex-row justify-between mt-6">
      <div class="text-sm">
        <p>
          <span class="font-bold">Lưu ý: </span> Trường hợp không có giấy CMND
          hoặc giấy tờ tùy thân
        </p>
        <p>để chứng minh đúng người được làm xét nghiệm thì ghi rỏ:</p>
        <p>không có giấy tờ tùy thân xác thực với tên ghi trên giấy XN.</p>
      </div>
      <div
        class="flex flex-col text-center mr-8"
        style="page-break-inside: avoid"
      >
        <p>
          Ngày <%= new Date().getDate() %> tháng <%= new Date().getMonth() + 1
          %> năm <%= new Date().getFullYear() %>
        </p>
        <p class="font-bold"><%= meta.authorTitle %></p>
        <p style="margin-top: 20mm" class="font-bold"><%= meta.authorName %></p>
      </div>
    </div>
  </body>
</html>
