<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      * {
        font-family: 'Times New Roman', monospace;
      }
      html {
        font-size: 14px;
      }
      @page {
        margin-top: 5mm;
        margin-bottom: 5mm;
        margin-left: 15mm;
        margin-right: 15mm;
      }
      p {
        page-break-inside: avoid;
      }
      .print-footer {
        position: fixed;
        bottom: 0;
        font-size: 10px;
      }
    </style>
  </head>
  <body>
    <div class="print-footer">
      BM1.CDB.VS1
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Phiên bản: 1.0
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Ngày áp dụng: 01/04/2025
    </div>
    <div class="flex flex-row justify-between">
      <div class="flex flex-row">
        <img
          src=<%= `https://raw.githubusercontent.com/wermarter/diut/refs/heads/main/apps/hcdc-access-service/assets/logo.png` %>
          style="width: 90px; object-fit: contain"
        />
        <div class="text-center ml-1 text-base">
          <p>SỞ Y TẾ THÀNH PHỐ HỒ CHÍ MINH</p>
          <p class="font-bold">TRUNG TÂM KIỂM SOÁT BỆNH TẬT TP.HCM</p>
          <p><%= meta.branch.address %></p>
          <p>Website: www.hcdc.gov.vn</p>
        </div>
      </div>
      <div class="text-center">
        <p class="text-xl font-bold mb-1">PHIẾU KẾT QUẢ XÉT NGHIỆM</p>
        <div class="ml-20 text-left">
          <p class="text-base">
            ID XN: <span class="font-bold"> <%= data.sample.sampleId %> </span>
          </p>
          <p class="text-base">
            TG nhận bệnh:
            <span><%= data.sample.infoAt.toLocaleDateString('vi') %></span>
          </p>
          <p class="text-base">
            Giờ:
            <span
              ><%= data.sample.infoAt.toLocaleTimeString('vi').slice(0, -3) %></span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-2 justify-between">
      <div class="flex flex-col gap-0.5">
        <p class="text-base">
          Họ và tên:
          <span class="font-bold"><%= data.sample.patient.name.toLocaleUpperCase() %></span>
        </p>
        <p class="text-base">Địa chỉ: <span><%= data.sample.patient.address %></span></p>
        <p class="text-base">BS chỉ định: <span><%= data.sample.doctor.name %></span></p>
      </div>
      <div class="flex flex-col gap-0.5">
        <div class="flex flex-row gap-4 justify-between">
          <div class="flex flex-col gap-0.5">
            <p class="text-base">
              Năm sinh: <span><%= data.sample.patient.birthYear %></span>
            </p>
            <p class="text-base">Đối tượng: <span><%= data.sample.patientType.name %></span></p>
          </div>
        </div>
        <p class="text-base">
          Loại mẫu:
          <em><%= meta.sampleTypeNames.join(', ') %></em>
        </p>
      </div>
      <div class="flex flex-col gap-0.5">
        <p class="text-base">
          Giới tính:
          <span><%= data.sample.patient.gender === "Male" ? "Nam" : "Nữ" %></span>
        </p>
        <p class="text-base">
          Ngày XN:
          <span><%= data.sample.sampledAt.toLocaleDateString('vi') %></span>
        </p>
      </div>
    </div>
    <table class="w-full my-1">
      <thead class="bg-gray-100 text-base">
        <tr>
          <th scope="col" class="px-6 border border-gray-300" width="30%">
            Tên Xét nghiệm
          </th>
          <th scope="col" class="px-6 border border-gray-300" width="20%">
            Kết quả
          </th>
          <th scope="col" class="px-6 border border-gray-300" width="30%"></th>
          <th scope="col" class="px-6 border border-gray-300" width="20%">
            Kết quả
          </th>
        </tr>
      </thead>
      <tbody>
        <% data.categories.forEach(category => { %> <%
        category.tests.forEach(test => {%>
          <% if (test.shouldDisplayWithChildren !== false) { %>
            <tr class="border border-gray-300">
              <td class="pl-2 border border-gray-300">
                <span class="font-bold"> <%= test.name %> </span>
                <% if (test?.bioProductName?.length > 0) { %>
                <span class="whitespace-nowrap"
                  >&nbsp;-&nbsp;<%= test.bioProductName %></span
                >
                <% } %>
              </td>
            </tr>
          <% } %>
        <% test.elements.forEach((element, index, arr) => { %> <% if (index <
        Math.ceil(arr.length/2)) { %>

        <tr class="border border-gray-300">
          <td class="pl-6 border border-gray-300"><%= element.testElement.name %></td>
          <td
            class="text-center border border-gray-300 <%= element.isAbnormal ? 'font-black' : '' %>"
          >
            <%= element.value %>
          </td>
          <td class="pl-6 border border-gray-300">
            <%= arr[Math.ceil(arr.length/2) + index]?.testElement?.name %>
          </td>
          <td
            class="text-center border border-gray-300 <%= arr[Math.ceil(arr.length/2) + index]?.isAbnormal ? 'font-black' : '' %>"
          >
            <%= arr[Math.ceil(arr.length/2) + index]?.value %>
          </td>
        </tr>

        <% } %> <% }) %> <% }) %> <% }) %>
      </tbody>
    </table>
    <div class="flex flex-row justify-end" style="page-break-inside: avoid">
      <div class="flex flex-col text-center mr-8">
        <p>
          Ngày <%= new Date().getDate() %> tháng <%= new Date().getMonth() + 1
          %> năm <%= new Date().getFullYear() %>
        </p>
        <p class="font-bold"><%= meta.authorTitle %></p>
        <p style="margin-top: 17mm" class="font-bold"><%= meta.authorName %></p>
      </div>
    </div>
  </body>
</html>
